    <table class="table table-striped">
      <tr>
        <th>Project ID</th>
        <th>Project Title</th>
        <th>Post</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @projects.each do |project| %>
        
        <tr>
          <td><%= project.id %></td>
          <td><%= project.title%></td>
          <td><%= link_to 'Show', project_path(project), :class => "btn btn-info" %></td>
            <%if current_user.user_type != "manager" && User.find(current_user).projects.exists? == "false" || current_user.user_type == "manager"%>
                <td>
                    <%= link_to 'My Project', myproject_user_project_path(current_user, project), :class => "btn btn-small btn-success", :method => :post %>
                </td>
            <% end %>
          <td>
          <%= link_to 'Create Bug', new_project_bug_path(project, Bug.new), :class => "btn btn-small btn-success" %>
          </td>
      </tr>
    <% end %>
    </table>
